{% extends 'classroom/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Add Rubric Detail</h1>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Add Rubric Detail">
    </form>
    {% if rubric_detail_added %}
      <div class="alert alert-success mt-3" role="alert">
        Rubric detail added successfully.
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
