<div class="gallery">
    <div class="north">
      <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
      <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
      <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
      <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
      <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
    </div>
    <div class="west">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="east">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="south">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="west">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="north">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
      </div>
    <div class="south">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="north">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="east">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="north">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="west">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="east">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
     </div>
    <div class="north">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
      </div>
    <div class="east">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
       </div>
    <div class="west">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
       </div>
    <div class="south">
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/1651426e-4134-4741-a40d-a9659c5f0717')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/28df772f-aec0-49e2-8f77-82d77c840f70')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/daa57376-2beb-4833-8319-b3c17168fbc7')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/9524dfab-5304-4c9c-b92e-87cf6ffff517')"></div>
        <div style="background-image: url('https://github.com/hvm0901/AakaarStatic/assets/135495501/cc7ff653-58f9-4482-8924-d4b5717d7c1c')"></div>
      </div>
  </div>
</main>

{% static 'WebVideo.mp4' %}





mtt_mailing

    
import boto3
import datetime as dt
import json
def publish_message(message):
    arn = ''
    sns = boto3.resource('sns', aws_access_key_id="AKIAVJCRAUSE7KSJZWNP", 
                     aws_secret_access_key="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",
                     region_name='ap-south-1')
    topic = sns.Topic(arn)
    x = dt.datetime.now()
    message = {
    "default": "Sample fallback message",
    "email": message
   
    }
    response = topic.publish(Message=str(json.dumps(message)), Subject="Alert", MessageStructure='json')
    return response
       
from botocore.exceptions import ClientError

# Replace sender@example.com with your "From" address.
# This address must be verified with Amazon SES.
SENDER = "Aakaar IIT Bombay <symposium@aakaar.org.in>"


RECIPIENT=email

AWS_REGION = "ap-south-1"

# # The subject line for the email.
SUBJECT = "Confirmation for Thesis 180 | ICES | Aakaar 2024, IIT Bombay"

BODY_HTML=("""<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<style>
    .text {
        font-size: 15px;
        font-family: " Arial, Helvetica, sans-serif; ";
    }
</style>
</head>

<body>
Greetings from Aakaar IIT Bombay!
<br><br>
Thank you for showing interest in the Thesis 180.
<br><br> 
Please fill out the attached google form; filling out the form is<strong> mandatory</strong> to confirm your registration.
<br><br>
<a href="https://forms.gle/WpMzS9F7mhD5YeHJA">Thesis180 | ICES I Aakaar 2024, IIT Bombay</a>
<br><br>
Payment details will be conveyed to you later if you get selected.
<br><br>
Thanks & Regards,<br>
Team Symposium,<br>
Aakaar 2024,<br>
IIT Bombay.   
</body>

</html>

""")

# The character encoding for the email.
CHARSET = "UTF-8"

# Create a new SES resource and specify a region.
client = boto3.client('ses',region_name=AWS_REGION)

# Try to send the email.
try:
#Provide the contents of the email.
    response = client.send_email(
        Destination={
            'ToAddresses': [
                RECIPIENT,
            ],
        },
        Message={
              'Body': {
#                        'Text': {
#                            'Charset': CHARSET,
#                            'Data': BODY_TEXT,
#                        },
                  'Html': {
                'Charset': CHARSET,
                'Data': BODY_HTML,
            },
            },
            'Subject': {
                'Charset': CHARSET,
                'Data': SUBJECT,
            },
        },
            Source=SENDER,
    # If you are not using a configuration set, comment or delete the
    # following line
#         ConfigurationSetName=CONFIGURATION_SET,
    )
# Display an error if something goes wrong.	
except ClientError as e:
    print(e.response['Error']['Message'])
    return HttpResponse('mail not sent ! please send mail at symposium@aakaar.org.in')